/* Music video  */
.Music-video {
    box-sizing: border-box ;
    margin-top: 30px;
}

.Music-video-card-display-2 {
    display: flex;
    justify-content: start;
    gap: 50px;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
}
.music-card,
.music-card-2 {
    width: 370px;
    height: 280px;
    background-color: #3a2f44;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.music-card-2 {
    margin-top: 20px;
}
.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {  
    display: flex;
    background-color: #292929;
    padding: 15px;
    flex-direction: column;
}

.card-content-2 {
    display: flex;
    justify-content: space-between;
}
.card-content h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.card-content p {
    font-size: 14px;
    color: #a7a7a7;
    margin-bottom: 10px;
}

.views {
    font-size: 12px;
    color: #b3b3b3;
}
